API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
MONGO_URI=your_mongodb_uri
DB_NAME=Cluster0
OWNER_ID=123456789
BOT_USERNAME=NomadeHelpBot
LOG_CHAT_ID=-1001234567890
SUDO_USERS=123456789
SUPPORT_GROUP=https://t.me/LearningBotsCommunity
UPDATE_CHANNEL=https://t.me/Learning_Bots
START_IMAGE=https://files.catbox.moe/o5eekb.jpg
